body {
  font-family: Arial, sans-serif;
  background: rgb(209, 150, 54);
  padding: 40px;
}

.accordion {
  max-width: 1000px;
  margin: auto;
}

.item {
  margin-bottom: 10px;
}

.title {
  width: 100%;
  padding: 15px;
  background: #04884a;
  color: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: none;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.item.active .content {
  display: block;
}

.item.active .icon {
  content: "-";
}
